.button {
  position: relative;
  width: 90%; 
  padding: 20px;
  margin: 15px;
  font-size: 28px;
  border-radius: 15px;
  border: none;
  color: #2c282e;
  background-image: linear-gradient(to right, #92fafd, #68eca4);
  transition: background-image 4s linear;
  overflow: hidden;
  cursor: pointer;
}

.button::before {
  content: 'Load More';
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-image: linear-gradient(to right, #92fafd, #178649);
  opacity: 0;
  transition: 0.3s;
}

.button:hover {
  box-shadow: 0 3px 10px 1px black;
}

.button:active::before {
  transition:  0.1s;
  opacity: 1;
}

button:disabled {
  background-image: linear-gradient(to right, #e20762, #7800e9);
}

@media screen and (min-width: 669px) {
  .button {
    width: 300px; 
    padding: 20px;
    margin: 15px;
    font-size: 36px;
  }
}